<!doctype html>
<html ng-app="socketStarter">
<head>
  <title>Socket Angular Starter</title>
</head>
<body>
  <div ng-controller="dataController">
    <ol>
      <li ng-repeat="datum in data">
        {{datum}}
      </li>
    </ol>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
